@import "../../../app.module.scss";
.container {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  padding-left: 16px;
  @include xl {
    padding-left: 20px;

  }
  z-index: 1;
}
.logo {
  height: 24px;
  width: 24px;
  @include xl {
    height: 32px;
    width: 32px;
  }
}
.container h2{
  color: $gray3;
  margin-left: 16px;
  letter-spacing: 0.4rem; 
  font-size: 1rem;
  @include xl {
    margin-left: 20px;
    letter-spacing: 0.8rem; 
    font-size: 1.2rem;

  }
}
