@import "../../../app.module.scss";
$startPCard: translateY(0cqi) scale(0);
$finalPCard: translateY(-38cqh) translateX(-38cqi) scale(1);
$midlePCard: translateY(-38cqh) scale(0.1);
$startPCardMobile: translateY(0) translateX(1%) scaleX(0);
$finalPCardMobile: translateY(-40cqh) scaleX(1);

.container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  background-color: $gray2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  transition-delay: 200ms;
  h3 {
    transform: scale(0);
    transition: 200ms;
    transition-delay: 200ms;
  }
  &:hover {
    background-color: $gray3;
  }
  &.unactived::before {
    position: absolute;
    content: "+";
    font-size: 3rem;
    color: $white1;
    transition: 200ms;
    transform: rotate(0deg) scale(0);
  }
  &.actived::before {
    position: absolute;
    content: "+";
    font-size: 3rem;
    color: $white1;
    animation: moveIt 300ms ease-in-out normal;
    transition: 200ms;
    transition-delay: 200ms;
    transform: rotate(135deg);
  }
}
@keyframes moveIt {
  0% {
    transform: rotate(0deg) scale(0);
  }

  100% {
    transform: rotate(135deg) scale(1);
  }
}
.socialContainer {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: space-evenly;
}

.containerActive {
  &:hover h3 {
    color: $white1;
  }
  h3 {
    transform: scale(1);
    color: $black1;
    margin-right: -0.5rem;
    letter-spacing: 0.5rem;
    font-size: 2.2cqh;
    transition: 200ms;
    transition-delay: 400ms;
    font-family: Gotham-Medium;
  }
}
.actived {
  background-color: $gray3;
  h3 {
    transform: scale(0);
    transition: 200ms;
  }
  .contactCard {
    animation: openCard 600ms forwards;
  }
}
@keyframes openCard {
  from {
    transform: $startPCard;
  }
  50% {
    transform: $midlePCard;
  }
  to {
    transform: $finalPCard;
  }
}
@keyframes closeCard {
  from {
    transform: $finalPCard;
  }
  50% {
    transform: $midlePCard;
  }
  to {
    transform: $startPCard;
  }
}
@keyframes openCardMobile {
  from {
    height: 0px;
    transform: $startPCardMobile;
  }
  to {
    height: "auto";
    transform: $finalPCardMobile;
  }
}
@keyframes closeCardMobile {
  from {
    height: "auto";
    transform: $finalPCardMobile;
  }
  to {
    height: 0px;
    transform: $startPCardMobile;
  }
}
@keyframes animationbl {
  0%,
  100% {
    left: 20%;
    top: -4%;
  }
  50% {
    left: 50%;
    top: -80%;
  }
}
@keyframes hasHovered {
  0% {
    visibility: hidden;
  } /* property has to be removed */
  100% {
    visibility: visible;
  } /* from the other animations! */
}
.contactCard {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 130vw;
  height: 50cqh;
  @include xl {
    height: 45cqh;
    width: 32vw;
  }
  background-color: $gray2;
  z-index: 4;
  @include xl {
    animation: closeCard 600ms forwards, hasHovered 600ms paused;
  }
  animation: closeCardMobile 300ms forwards, hasHovered 200ms paused;
  overflow: hidden;
  small {
    color: $white1;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    @include xl {
      font-size: 1.1rem;
    }
    padding-left: 10px;
    letter-spacing: 0.1rem;
    font-family: Gotham-Medium;
  }
  &::before {
    content: "";
    position: absolute;
    @include xl {
      width: 40cqi;
      height: 40cqi;
    }
    width: 80cqh;
    height: 70cqh;
    background-color: $blue7;
    border-radius: 50%;
    animation: animationbl 20s infinite;
  }
}
.listDetail {
  display: flex;
  align-items: center;
  width: auto;
  padding: 5px 10px;
  @include xl {
    padding: 0 10px;
  }
  font-size: 24px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  @include xl {
    letter-spacing: 4px;
  }
  letter-spacing: 2px;
  color: $white1;
  .icon{
    padding-right: 7px;
  }
}
.textContaainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  span:hover {
    transform: scale(1);
    transition: 200ms;
    z-index: 2;
    transition: 200ms;
  }
  span:hover {
    transform: scale(1.2);
    transition: 200ms;
    z-index: 2;
  }
}
.containerActive {
  border-radius: 16px;
  height: 6cqh;
  width: 24cqh;
  @include xl {
    height: 5cqh;
    width: 22cqh;
  }
  transform: scale(1);
  transition: 200ms ease-in-out;
  transition-delay: 300ms;
}
.actived .contactCard {
  @include xl {
    animation: openCard 600ms forwards, hasHovered 1ms;
  }
  animation: openCardMobile 300ms forwards, hasHovered 1ms;
}
