@import "../../../app.scss";
$startPCard: translateY(0cqi) scale(0);
$finalPCard: translateY(-38cqh) translateX(-38cqi) scale(1);
$midlePCard: translateY(-38cqh) scale(0.1);
$startPCardMobile: translateY(0) translateX(1%) scaleX(0);
$finalPCardMobile: translateY(-40cqh) scaleX(1);

.container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  background-color: $gray2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  transition-delay: 200ms;
  h3 {
    transform: scale(0);
    transition: 200ms;
    transition-delay: 200ms;
  }
  &:hover {
    background-color: $gray3;
  }
  &.unactived::before {
    position: absolute;
    content: "+";
    font-size: 3rem;
    color: $white1;

    transition: 200ms;
    transform: rotate(0deg) scale(0);
  }
  &.actived::before {
    position: absolute;
    content: "+";
    font-size: 3rem;
    color: $white1;

    animation: moveIt 300ms ease-in-out normal;
    transition: 200ms;
    transition-delay: 200ms;
    transform: rotate(135deg);
  }
}
@keyframes moveIt {
  0% {
    transform: rotate(0deg) scale(0);
  }

  100% {
    transform: rotate(135deg) scale(1);
  }
}

.containerActive {
  &:hover h3 {
    color: $white1;
  }
  h3 {
    transform: scale(1);
    color: $black1;
    margin-right: -0.5rem;
    letter-spacing: 0.5rem;
    font-size: 2cqh;
    transition: 200ms;
    transition-delay: 400ms;
  }
}
.actived {
  background-color: $gray3;
  h3 {
    transform: scale(0);
    transition: 200ms;
  }
  .contactCard {
    animation: openCard 600ms forwards;
  }
}
@keyframes openCard {
  from {
    transform: $startPCard;
  }
  50% {
    transform: $midlePCard;
  }
  to {
    transform: $finalPCard;
  }
}
@keyframes closeCard {
  from {
    transform: $finalPCard;
  }
  50% {
    transform: $midlePCard;
  }
  to {
    transform: $startPCard;
  }
}
@keyframes openCardMobile {
  from {
    height: 0px;
    transform: $startPCardMobile;
  }
  to {
    height: "auto";
    transform: $finalPCardMobile;
  }
}
@keyframes closeCardMobile {
  from {
    height: "auto";
    transform: $finalPCardMobile;
  }
  to {
    height: 0px;
    transform: $startPCardMobile;
  }
}
@keyframes animationbl {
  0%,
  100% {
    left: 20%;
    top: -4%;
  }
  50% {
    left: 50%;
    top: -80%;
  }
}
.contactCard {
  display: flex;
  align-items: center;
  position: absolute;
  width: auto;
  height: 50cqh;
  @include xl {
    height: 45cqh;
  }
  background-color: $gray2;
  z-index: 4;
  @include xl {
    animation: closeCard 600ms forwards;
  }
  animation: closeCardMobile 600ms forwards;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    @include xl {
      width: 40cqi;
      height: 40cqi;
    }
    width: 70cqh;
    height: 70cqh;
    background-color: $blue7;
    border-radius: 50%;
    animation: animationbl 20s infinite;
  }
}
.textContaainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 20px;
  height: 100%;
  li {
    font-size: 24px;
    transform: scale(0.9);
    @include xl {
      letter-spacing: 4px;
    }
    letter-spacing: 2px;

    color: $white1;
    transition: 200ms;
  }
  li:hover {
    transform: scale(1);
    transition: 200ms;
    z-index: 2;
  }
}
.containerActive {
  border-radius: 16px;
  height: 5cqh;
  width: 22cqh;
  transform: scale(1);
  transition: 200ms ease-in-out;
  transition-delay: 300ms;
}
.actived .contactCard {
  @include xl {
    animation: openCard 600ms forwards;
  }
  animation: openCardMobile 600ms forwards;
}
