@import "../../../app.module.scss";

.containerSlider {
  position: fixed;
  height: 30%;
  width: 30%;
  display: flex;
  transition: 0.4s;
  transition-delay: 0.4s;
}
.image {
  width: 100%;
  height: 100%;
}
.description {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  border-radius: 50%;
  transition: 400ms;
  transition-delay: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.price {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $blue7;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: 400ms;
  transition-delay: 400ms;
  top: 40%;
  left: 70%;
  transform: scale(0.7);
  @include xl {
    width: 130px;
    height: 130px;
  }
}
.price h3 {
  color: $white1;
  font-size: 2.2rem;
}
.contact {
  z-index: 0;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 32%;
  left: calc(42% - (130px / 2));
  transition: 400ms;
  transition-delay: 400ms;
  transform: scale(0.7);
}
.textContainer {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 1fr;
  justify-content: flex-start;
}
.char {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  li {
    width: 100%;
    text-align: left;
    color: $white1;
    list-style-type: none;
    font-size: 200%;
  }
}
.image2 {
  display: flex;
  position: absolute;
  bottom: 50%;
  left: 50%;
  // }
  height: 160%;
  filter: grayscale(30%) contrast(95%) drop-shadow(5px 5px 10px $black4);

  transform: translate(-50%, 50%) scale(0.8) rotate(360deg);
  transition: 0.4s ease-in-out;
  background-size: cover;
}
.colorsComponent {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  transition: 400ms;
  z-index: 9;
}
.color {
  @include xl {
    width: 36px;
    height: 36px;
  }
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    transform: scale(1.1);
  }
  &:active .cardPrice {
    background-color: #575757;
  }
}

.containerSliderActive {
  height: 50%;
  width: 90%;
  @include xl {
    width: 70%;
  }
  transition-delay: 400ms;

  .price {
    top: -27%;
    left: -5%;
    @include xl {
      width: -6%;
    }
    transition: 400ms;
    transition-delay: 400ms;
    transform: scale(1);
  }
  .contact {
    z-index: 1;
    transition: 400ms;
    transition-delay: 300ms;
    width: 20cqh;
    height: 5cqh;
    border-radius: 16px;
    top: 80%;
    left: calc(50% - (20cqh / 2));
  }
  .description {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    transition: 400ms;
    transition-delay: 0.4s;
  }
  .image2 {
    display: flex;
    @include xl {
      height: 140%;
    }
    height: 130%;
    @include xl {
      left: 85%;
    }
    filter: grayscale(0%) contrast(110%) drop-shadow(7px 7px 15px $black3);
    // height: 340px;
    left: 80%;
    bottom: 60%;
    transform: translate(-50%, 50%) scale(1) rotate(-15deg);
    transition: 0.4s;
    transition-delay: 400ms;
    justify-content: flex-start;
  }

  .colorsComponent {
    opacity: 1;
    transition: 400ms;
    transition-delay: 400ms;
  }
}
