@import "../../../app.scss";
.containerTitle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  z-index: 3;
  overflow: hidden;
}
.containerTitle h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: -0.1em;
  background-color: $gray2;
  color: transparent;
  text-shadow: #d8dbeada 3px 5px 2px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  transition: 300ms;
  @include xl {
    font-size: auto;
  }
}
.containerLoading h1 {
  background-color: $gray1;
  transition: 300ms;
}
