
* {
  font-family: "Gotham-Medium";
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Woodman-HeavyPress";
  src: url("../public/fonts/Woodman-Font/Woodman-HeavyPress.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Damion-regular";
  src: url("../public/fonts/Damion/Damion-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("../public/fonts/Gotham-Font/GothamMedium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Woodman-Rounded";
  src: url("../public/fonts/Woodman-Font/Woodman-HeavyRounded.otf");
  font-weight: 800;
}
@font-face {
  font-family: "JurassicPark";
  src: url("../public/fonts/jurassic-park-font/JurassicPark-BL48.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Nasalization";
  src: url("../public/fonts/nasalization/nasalization-rg.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Fear";
  src: url("../public/fonts/fear/fofbb_reg.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Nemo";
  src: url("../public/fonts/nemo-nightmares/Nemo\ Nightmares.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Dino";
  src: url("../public/fonts/dino/Dinosbeeline-vmmO.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "GutesWetter";
  src: url("../public/fonts/gutes-wetter-schlechtes-wetter-font/GutesWetterSchlechtesWetter-X3Kj.ttf");
  font-weight: 800;
}
