@import "../src/app/app.scss";
// *
// {
//   box-sizing: border-box;
// }

.container {
  width: 100vw;
  height: 100vh;
  background-color: $gray1;
  display: grid;
  @include xl {
    grid-template-rows: 10% 20% 1fr 5%;
  }
  grid-template-rows: 10% 10% 1fr 5%;
}
